
body {
    background-color: #000000;
  }
  
  #brainbrowser-wrapper {
    width: 90%;
    margin: 0px auto;
    display: flex;
  }

  #surface-viewer {
    height: 100%;
    width: 100%;
    background-color: #000000;
    /* padding: 0.5em; */
    border-radius: 10px;
    /* margin-top: 33%; */
  }
  
  #volume-viewer {
    display: flex;
    background-color: #000000;
    /* padding: 0.5em; */
    border-radius: 10px;
  }
  
  
  .volume-container {
     display: flex; 
     justify-content: center;
  }

  .volume-viewer-display {
    /* display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap:10vw;
  }
  
  canvas.slice-display {
    display: flex;
    margin: 3px 5px;
  }
  
  .volume-viewer-controls {
    font-size: 12px;
    padding: 10px;
    margin: 3px 5px;
    background: #555555;
    color: #F0F0F0;
  }
  
  .volume-viewer-controls > div {
    margin-bottom: 10px;
  }
  
  .volume-controls {
    width: 235px;
    height: 545px;
  }
  
  #global-controls {
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
    padding-bottom: 0;
  }
  
  #global-controls .instructions {
    padding: 10px 0 5px 0;
  }
  
  .control-heading {
    font-size: 14px;
    font-weight: bold;
  }
  
  .control-heading:not(:first-child) {
    margin-top: 12px;
  }
  
  .control-inputs {
    border: none;
    padding: 2px;
    margin-left: 10px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 1px 1px 0px 0px #787878;
    -webkit-box-shadow: 1px 1px 0px 0px #787878;
    box-shadow: 1px 1px 0px 0px #787878;
    width: 3em;
    font-size: 10px;
  }
  
  .coords .control-inputs {
    margin-right: 0.6em;
    width: 40px;
    font-size: 10px;
  }
  
  .volume-viewer-threshold, .volume-viewer-blend {
    width: 80%;
    margin: auto;
  }
  
  .ui-slider .ui-slider-handle .ui-state-default .ui-corner-all {
    color: #777777 !important;
    font-size: 10px;
    padding: 3px;
    text-shadow: 0 1px 0 #FFFFFF;
    text-decoration:none;
  }
  
  .slider {
    margin-top: 1.5em!important;
    margin-bottom: 1em!important;
  }
  
  .thresh-inputs {
    position: relative;
    height: 1em;
  }
  
  .thresh-input-left {
    position: absolute;
    left: 3px;
  }
  
  .thresh-input-right {
    position: absolute;
    right: 10px;
  }
  
  .slice-series-button {
    font-size: 11px;
  }
  
  #volume-file {
    margin-top: 12px;
    margin-bottom: 10px;
    display: none;
  }
  
  #volume-file-submit {
    margin-top: 6px;
  }
  
  #volume-file-hint {
    margin: 4px;
  }
  
  #volume-file-hint a {
    color: orange;
  }
  
  .intensity-value {
    padding: 2px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
  }
  